<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
</head>
<body>
    <h1>Boggle</h1>
    {% if session['score'] %}
        <h2 id="score">Score: {{session['score']}}</h2>
    {% else %}
        <h2 id="score">Score: 0</h2>
    {% endif %}
    <form action="/new" method="POST"><button>New Game</button></form>
    {% include "boggle-board.html" %}
    {% include "guess-form.html" %}
    <p id="guess-result"></p>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/guess.js"></script>
</body>
</html>